@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>About TaskManagementApp</h1>
<p>Welcome to TMA(TaskManagementApp), your simplified solution for task management. Developed using ASP.NET with C#, our application is currently in the early stages of development, offering core functionalities tailored to enhance your productivity.</p>

<h2>With TaskManagementApp, you can:</h2>
<ul>
    <li><strong>Log In/Log Out Securely:</strong> Access your personal task management space with confidence.</li>
    <li><strong>Add Tasks:</strong> Easily enter new tasks to keep track of what needs to be done.</li>
    <li><strong>Edit/Delete Tasks:</strong> Modify or remove tasks as your priorities and needs change.</li>
</ul>

<p>Our platform utilizes a sleek, user-friendly interface built on RazorPages, designed to provide a seamless user experience. The app's architecture is crafted with scalability in mind, ensuring that as we grow, you reap the benefits of a robust and flexible task management tool.</p>

<h2>What’s Next?</h2>
<p>TaskManagementApp is actively under development, and we are excited about the roadmap ahead. Planned enhancements include advanced task categorization, improved prioritization features, and comprehensive filtering options to help you manage your tasks more effectively.</p>

<p>We are committed to evolving and adapting to meet your needs. Stay tuned for more updates as we continue to expand our features and functionalities.</p>
