@page
@model TaskPL.Pages.LoginModel
@{
}

<main class="container">

    <h2 class="">Log in to your account</h2>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Username"></label>
            <input asp-for="Input.Username" class="form-control login-input" placeholder="Username" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" type="password" class="form-control login-input" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Login</button>
    </form>
    <br />
    <p class="mt-5">Don't have an account ?</p>
    <a class="btn btn-success" asp-page="/Register">Register</a>

</main>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        /* background: silver; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .login-input {
        max-width: 700px;
        min-width: 320px;
        width: 30vw;
    }
</style>